<!-- JavaScript dependencies
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- build:js /js/vendor.js -->
<!-- bower:js-->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js /js/app.js -->
<!-- include: "type": "js", "files": "js/*.js", "baseUrl": "/freelance/" -->
<script src="/freelance/js/init.js"></script>
<script src="/freelance/js/jquery.min.js"></script>
<script src="/freelance/js/jquery.scrolly.min.js"></script>
<script src="/freelance/js/jquery.scrollzer.min.js"></script>
<script src="/freelance/js/mail.js"></script>
<script src="/freelance/js/skel-layers.min.js"></script>
<script src="/freelance/js/skel.min.js"></script>
<!-- /include -->
<!-- endbuild -->

