<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.png" alt="Emilie DELTIL" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Emilie DELTIL</a></h1>
            <p>Developpeur Web Freelance</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Présentation</a></li>
                <li><a href="{{ site.baseurl }}/parcours">Parcours</a></li>
                <li><a href="{{ site.baseurl }}/projets">Projets</a></li>
                <li><a href="{{ site.baseurl }}/service">Service</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a target="_blank" href="https://twitter.com/EmilieDeltil" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a target="_blank" href="https://fr.linkedin.com/pub/emilie-deltil/33/191/854" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="https://github.com/edeltil" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="{{ site.baseurl }}/contact" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

