---
layout: default
---

<section id="one" >
    <div class="container">
        {% for post in site.posts %}
            {% if post.categories contains 'cv' %}
                <article>
                    <section class="post-title">
                         <h4><i class="fa fa-caret-right"></i><a class="pa-left" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                        <h5>{{post.function}}</h5>
                    </section>
                    <section class="post-content">
                        <section class="techno"> Technologies utilisées : </section>
                        {{ post.technologies }}
                    </section>
                    <section class="special">
                        <ul class="actions">
                            <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">En savoir plus</a></li>
                        </ul>
                    </section>
                </article>
            {% endif %}
        {% endfor %}
    </div>
</section>
